html {
    font-size: 62.5%;
}

body 
{
    margin: 0;
    padding: 0;
    background-image: url(../css/img/jajaja.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

h1{
    background-color: blue;
    color: bisque;
    font-size: 5rem;
    font-weight: bold;
    
}






